
.container {
    max-width: var(--container);
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    margin: 0 auto;

}


@media (max-width: 1200px) {
     .container {
        padding: 0 2rem;
    }
}