
.classes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white);

}

.classes-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
}

.classes-more {
    margin-top: 3.125rem;
}

@media (max-width: 900px) {
    .classes-list {
        grid-template-columns: 1fr 1fr;

    }

    .classes-list li:last-child {
        grid-column: 1/-1;
        align-self: center;

    }
}

@media (max-width: 640px) {
    .classes-list {
        grid-template-columns: 1fr ;

    }
}

