.classes {
    background-color: var(--primary-white);
}
.classes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classes-bg {
    position: absolute;
    z-index: -1;
}





.classes-more {
    margin-top: 3.125rem;
}

@media (max-width: 900px) {
    .classes-list {
        grid-template-columns: 1fr 1fr;

    }
}

@media (max-width: 640px) {
    .classes-list {
        grid-template-columns: 1fr ;

    }
}

