.features {
    background-color: var(--other-bg);
}
.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.375rem 0;
}

@media (max-width: 900px) {
    .features-list {
        grid-template-columns: 1fr;

    }
}