
.home {
    position: relative;
}

.home-container {
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    padding-top: 9rem;
    position: relative;
}


/* LEFT */
.home-content {
    padding-top: 4rem;
    padding-bottom: 9.75rem;
    position: relative;
    max-width: 32.1rem;
    
}

.home-content-bg {
    position: absolute;
    z-index: -1;
    left: -3rem;
    width: 100%;
}


.home-content-description {
    margin-top: 1.375rem;
    margin-bottom: 3rem
}
.home-content-btn {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}
/* RIGHT */
.home-illustration {
    position: absolute;
    top: 9rem;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    max-width: 900px;
}
.home-illustration-bg {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
}

.home-illustration-bg-desktop {

}
.home-illustration-bg-mobile {
    display: none;
}

.home-illustration-pic {
    width: 100%;
    z-index:-1;
}


@media (max-width: 900px) {
    .home-container  {
        grid-template-columns: repeat(1,1fr);
        padding-top: 9rem;

    }
 
    .home-content {
        /* position: unset; */
    }
    .home-illustration {
        top: 3rem;
        position: relative;
        justify-content: center;

        /* overflow: hidden; */
        /* height: 90vh; */
    }

    .home-illustration img {
        width: 50%;
    }


    .home-illustration-pic {
        margin-top: 2rem;
    }


    .home-illustration-bg-desktop {
        display: none;
    }
    .home-illustration-bg-mobile {
        display: block;
        top: 0;
        right: 0;
    }

    .home-content {
        padding: 0;
    }
}

@media (max-width: 690px) {
    .home-container {
        grid-template-columns: 1fr;
    }



    .home-content-description {
        margin-bottom: 1rem;
    }

    .home-illustration img {
        width: 60%;

    }

}